<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aurelia-animator-css.TypeScript.DefinitelyTyped" version="0.12.0" targetFramework="net452" />
  <package id="aurelia-binding.TypeScript.DefinitelyTyped" version="0.12.0" targetFramework="net452" />
  <package id="aurelia-bootstrapper.TypeScript.DefinitelyTyped" version="0.10.0" targetFramework="net452" />
  <package id="aurelia-dependency-injection.TypeScript.DefinitelyTyped" version="0.10.0" targetFramework="net452" />
  <package id="aurelia-event-aggregator.TypeScript.DefinitelyTyped" version="0.10.0" targetFramework="net452" />
  <package id="aurelia-framework.TypeScript.DefinitelyTyped" version="0.10.0" targetFramework="net452" />
  <package id="aurelia-history.TypeScript.DefinitelyTyped" version="0.10.0" targetFramework="net452" />
  <package id="bootstrap" version="3.3.5" targetFramework="net452" />
  <package id="dat-gui.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net452" />
  <package id="jQuery" version="2.1.4" targetFramework="net452" />
  <package id="threejs.TypeScript.DefinitelyTyped" version="1.4.1" targetFramework="net452" />
  <package id="webaudioapi.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="webrtc.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
</packages>